body {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    background: linear-gradient(45deg, #2c3e50, #3498db);
}

.title {
    font-size: 48px;
    color: #ecf0f1;
    text-align: center;
    margin-bottom: 15px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}


.container {
    background-color: #ecf0f1;
    border-radius: 20px;
    padding: 30px;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
}

.calculator {
    width: 300px;
}

.display {
    background-color: #34495e;
    color: white;
    font-size: 36px;
    padding: 20px;
    text-align: right;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.1);
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
}

.button {
    padding: 20px;
    font-size: 24px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s ease;
    background-color: #bdc3c7;
    color: #2c3e50;
}

.button:hover {
    background-color: #95a5a6;
    transform: scale(1.05);
}

.operator {
    background-color: #e67e22;
    color: white;
}

.equal {
    background-color: #27ae60;
    color: white;
}

.history-btn {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 18px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.history-btn:hover {
    background-color: #2980b9;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #ecf0f1;
    margin: 15% auto;
    padding: 20px;
    border-radius: 15px;
    width: 80%;
    max-width: 500px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.close-btn {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 18px;
    background-color: #e74c3c;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.close-btn:hover {
    background-color: #c0392b;
}

#historyList {
    list-style-type: none;
    padding: 0;
}

#historyList li {
    background-color: #bdc3c7;
    margin-bottom: 10px;
    padding: 15px;
    border-radius: 10px;
    font-size: 18px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: #2c3e50;
}